In [59]:
import pandas as pd

In [60]:
import psycopg2
import os
from tqdm import tqdm
from unidecode import unidecode
import csv

In [95]:
host                = "localhost"
port                = 5432
username            = "postgres"
password            = "postgres"
database            = "postgres"
table               = "loan_information_table"
columns             = ['loan_name', 'amount_of_money', 'methob', 'requirement', 'loan_term', 'interest_rate', 'disbursement_time']

In [96]:
class BasePostgreSQL:
    def __init__(self, host, port, username, password, database):
        self.host     = host
        self.port     = port
        self.username = username
        self.password = password
        self.database = database
        
        self.connection = psycopg2.connect(user=self.username,
                                   password=self.password,
                                   host=self.host,
                                   port=self.port,
                                   database=self.database)

        self.cursor = self.connection.cursor()

    def close(self):
        if (self.connection):
            self.cursor.close()
            self.connection.close()
            

    def select(self, table_name, columns, key_names=[], key_values=[], key_ops=[], order=False, reverse=False, like=False, limit=None, offset=None):
            
        query = ' '.join(['SELECT', ('%s')%(', '.join(columns)), 'FROM', table_name])
        num_keys = len(key_names)
        assert num_keys == len(key_values)
        if (like):
            if(len(key_ops) == 0):
                key_ops = ['LIKE'] * num_keys

            if(num_keys > 0):
                condition = ' WHERE ' + ' AND '.join(['%s %s '%(key_name, key_op) + '%s' for key_name, key_op in zip(key_names, key_ops)])
                query += condition
            if(order):
                orderby = ' ORDER BY ' + str(order)
                query += orderby
            if(reverse):
                query += ' DESC '
            if(limit):
                query += ' LIMIT %d'%(limit)
            if(offset):
                query += ' OFFSET %d'%(offset)

        else:
            if(len(key_ops) == 0):
                key_ops = ['='] * num_keys

            if(num_keys > 0):
                condition = ' WHERE ' + ' AND '.join(['%s %s '%(key_name, key_op) + '%s' for key_name, key_op in zip(key_names, key_ops)])
                query += condition
            if(order):
                orderby = ' ORDER BY ' + str(order)
                query += orderby
            if(reverse):
                query += ' DESC '
            if(limit):
                query += ' LIMIT %d'%(limit)
            if(offset):
                query += ' OFFSET %d'%(offset)

        # print(query, key_values)
        self.cursor.execute(query, tuple(key_values))
        data = self.cursor.fetchall()
        return data

    def update(self, table_name, target_columns, target_values, key_columns, key_values):
        query = ' '.join(['UPDATE ', table_name, 'SET '])

        num_updates = len(target_columns)
        assert num_updates == len(target_values)

        updates = ', '.join(['%s = '%(column) + '%s' for column in target_columns])
        query += updates

        num_keys = len(key_columns)
        assert num_keys == len(key_values)

        if(num_keys > 0):
            condition = ' WHERE ' + ' AND '.join(['%s = '%(column) + '%s' for column in key_columns])
            query += condition

        # print(query)
        self.cursor.execute(query, tuple(target_values + key_values))
        self.connection.commit()

    def insert(self, table_name, columns, values):
        query = ' '.join(['INSERT INTO', table_name, ('(%s)')%(', '.join(columns)), 'VALUES', '(', ','.join(['%s']*len(values)) , ')'])
        values = tuple(values)
        # print('table', table_name)
        print(query)
        # print(values)
        self.cursor.execute(query, values)
        self.connection.commit()

    def delete(self, table_name, key_columns, key_values):
        query = ' '.join(['DELETE FROM ', table_name])

        condition = ' WHERE ' + ' AND '.join(['%s = '%(column) + '%s' for column in key_columns])
        query += condition
        self.cursor.execute(query, tuple(key_values))
        self.connection.commit()

In [97]:
posgresql_connect = BasePostgreSQL(host, port, username, password, database)

In [74]:
loan_table = pd.read_csv('/home/ngocpt/loan_information_table.csv')

In [75]:
for id, row in loan_table.iterrows():
#     print([row[0], row[1], row[2], row[3], row[4], row[5]])
    posgresql_connect.insert(table_name=table, columns=columns, values=[row[0], row[1], row[2], row[3], row[4], row[5], row[6]])

INSERT INTO loan_information_table (loan_name, amount_of_money, methob, requirement, loan_term, interest_rate, disbursement_time) VALUES ( %s,%s,%s,%s,%s,%s,%s )
INSERT INTO loan_information_table (loan_name, amount_of_money, methob, requirement, loan_term, interest_rate, disbursement_time) VALUES ( %s,%s,%s,%s,%s,%s,%s )
INSERT INTO loan_information_table (loan_name, amount_of_money, methob, requirement, loan_term, interest_rate, disbursement_time) VALUES ( %s,%s,%s,%s,%s,%s,%s )
INSERT INTO loan_information_table (loan_name, amount_of_money, methob, requirement, loan_term, interest_rate, disbursement_time) VALUES ( %s,%s,%s,%s,%s,%s,%s )
INSERT INTO loan_information_table (loan_name, amount_of_money, methob, requirement, loan_term, interest_rate, disbursement_time) VALUES ( %s,%s,%s,%s,%s,%s,%s )

In [121]:
loan_detail = posgresql_connect.select(table_name='loan_information_table', columns=['loan_name', 'amount_of_money'])

In [122]:
loan_detail

[('MoneyCat', '1000000'),
 ('Tamo', '2000000'),
 ('Senmo', '5000000'),
 ('Takomo', '10000000'),
 ('Cash24', '15000000')]

In [118]:
formatted_loans = "- Tên gói vay   		: {} \n- Số tiền       		: {} \n- Hình thức vay 		: {} \n- Yêu cầu       		: {} \
\n- Thời hạn vay  		: {} \n- Lãi xuất     		: {} \n- Thời gian giải ngân   : {}".format(loan_detail[0][0], loan_detail[0][1], loan_detail[0][2], loan_detail[0][3], loan_detail[0][4], loan_detail[0][5], loan_detail[0][6])

In [120]:
print(formatted_loans)

- Tên gói vay   		: MoneyCat
- Số tiền       		: 1000000
- Hình thức vay 		: Vay online
- Yêu cầu       		: Cung cấp số điện thoại, căn cước công dân
- Thời hạn vay  		: 7 ngày
- Lãi xuất     		: 8%
- Thời gian giải ngân   : 5 phút

In [1]:
detail = posgresql_connect.select(table_name='loan_information_table', columns=['loan_name', 'amount_of_money', 'methob', 'requirement', 'loan_term', 'interest_rate', 'disbursement_time'], key_names=['loan_name'], key_values=['MoneyCat'])

NameError: name 'self' is not defined